{% extends 'base.html' %}
{% load static %}

{% block title %}Create Your Character{% endblock %}

{% block recent_news %}
    {% include 'includes/current_character.html' %}
{% endblock %}

{% block main %}
    <main>
        <section class="container">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.errors }}
                {{ form.as_table }}
                <button class="btn btn-primary" type="submit">{% block cc_button_text %}Next{% endblock %}</button>
            </form>
        </section>
    </main>

{% endblock %}
