{% extends 'characters/base_creation.html' %}
{% load static %}

{% block css %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/as_choice.css' %}">#}
{% endblock %}

{% block main %}

    <form action="" method="POST">{% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <section class="panel panel-default">
                <div class="panel-title">
                    {{ form.feature_name }}
                    <p class="feature_type">{{ form.feature_type }}</p>
                </div>
                <section class="panel-body">

                        <p class="feature_choice">{{ form.feature_choices }}</p>

                </section>
            </section>
        {% endfor %}
        <button type="submit" class="btn btn-primary" id="submit_button">Next!</button>
    </form>

{% endblock %}

{% block extra_scripts %}
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous">
    </script>

    <script src="{% static 'pages/js/choice_screen.js' %}"></script>
{% endblock %}