{% extends 'characters/base_creation.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/as_choice.css' %}">
{% endblock %}

{% block main %}

    <div>{{ character }}</div>

    <section id="tabs">
        <ul class="nav nav-tabs">
            <li><a href="#tabs-1">Choice</a></li>
            <li><a href="#tabs-2">Roll</a></li>
            <li><a href="#tabs-3">Buy</a></li>
        </ul>

        <section id="tabs-1">
            <section class="panel panel-default">
                <form action="" method='POST' class="panel-body" autocomplete="off"> {% csrf_token %}
                    <section class="panel-body col-md-6">
                        <table style="width: 100%;" class="score_table">
                            <tr>
                                <th>Ability</th>
                                <th>Race Bonus</th>
                                <th>Subrace Bonus</th>
                            </tr>

                            <tr>
                                <td>Strength</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p disabled="true">{{ choice_form.Strength }}</p></td>
                                <td>{% if character.char_race.ability_score_1 == 'Strength' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Strength' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Strength' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Strength' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Dexterity</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ choice_form.Dexterity }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Dexterity' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Dexterity' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Dexterity' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Dexterity' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Constitution</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ choice_form.Constitution }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Constitution' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Constitution' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Constitution' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Constitution' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Intelligence</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ choice_form.Intelligence }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Intelligence' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Intelligence' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Intelligence' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Intelligence' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Wisdom</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ choice_form.Wisdom }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Wisdom' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Wisdom' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Wisdom' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Wisdom' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Charisma</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ choice_form.Charisma }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Charisma' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Charisma' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Charisma' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Charisma' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>


                        </table>
                    </section>
                    <section class="panel-body col-md-2">
                        <div>
                            <div class="score" data-score="15">15</div>
                            <div class="score" data-score="14">14</div>
                            <div class="score" data-score="13">13</div>
                            <div class="score" data-score="12">12</div>
                            <div class="score" data-score="10">10</div>
                            <div class="score" data-score="8">8</div>
                        </div>
                    </section>
                    <button id="choice_next" class="btn btn-primary">Next</button>
                </form>
            </section>

        </section>

        <section id="tabs-2">
              <section class="panel panel-default">
                <form action="" method='POST' class="panel-body" autocomplete="off"> {% csrf_token %}
                    <section class="panel-body col-md-6">
                        <table style="width: 100%;" class="score_table">
                            <tr>
                                <th>Ability</th>
                                <th>Race Bonus</th>
                                <th>Subrace Bonus</th>
                            </tr>

                            <tr>
                                <td>Strength</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p disabled="true">{{ roll_form.Strength }}</p></td>
                                <td>{% if character.char_race.ability_score_1 == 'Strength' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Strength' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Strength' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Strength' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Dexterity</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ roll_form.Dexterity }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Dexterity' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Dexterity' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Dexterity' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Dexterity' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Constitution</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ roll_form.Constitution }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Constitution' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Constitution' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Constitution' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Constitution' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Intelligence</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ roll_form.Intelligence }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Intelligence' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Intelligence' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Intelligence' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Intelligence' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Wisdom</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ roll_form.Wisdom }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Wisdom' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Wisdom' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Wisdom' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Wisdom' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Charisma</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td disabled="true">{{ roll_form.Charisma }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Charisma' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Charisma' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Charisma' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Charisma' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>


                        </table>
                    </section>
                    <section class="panel-body col-md-2">
                        <div>
                            <div class="score" data-score="" data-roll="1"></div>
                            <div class="score" data-score="" data-roll="2"></div>
                            <div class="score" data-score="" data-roll="3"></div>
                            <div class="score" data-score="" data-roll="4"></div>
                            <div class="score" data-score="" data-roll="5"></div>
                            <div class="score" data-score="" data-roll="6"></div>
                            <button id="roll" class="btn btn-primary">Roll!</button>
                        </div>
                    </section>
                    <button id="choice_next" class="btn btn-primary">Next</button>
                </form>
            </section>
        </section>

        <section id="tabs-3">
              <section class="panel panel-default">
                <form action="" method='POST' class="panel-body" autocomplete="off"> {% csrf_token %}
                    <section class="panel-body col-md-6">
                        <table style="width: 100%;" class="score_table" id="ability_buy">
                            <tr>
                                <th>Ability</th>
                                <th>Race Bonus</th>
                                <th>Subrace Bonus</th>
                            </tr>

                            <tr>
                                <td>Strength</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>{{ buy_form.Strength }}</p></td>
                                <td>{% if character.char_race.ability_score_1 == 'Strength' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Strength' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Strength' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Strength' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Dexterity</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>{{ buy_form.Dexterity }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Dexterity' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Dexterity' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Dexterity' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Dexterity' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Constitution</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>{{ buy_form.Constitution }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Constitution' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Constitution' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Constitution' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Constitution' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Intelligence</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>{{ buy_form.Intelligence }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Intelligence' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Intelligence' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Intelligence' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Intelligence' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Wisdom</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>{{ buy_form.Wisdom }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Wisdom' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Wisdom' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Wisdom' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Wisdom' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>

                            <tr>
                                <td>Charisma</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>{{ buy_form.Charisma }}</td>
                                <td>{% if character.char_race.ability_score_1 == 'Charisma' %}
                                        +{{ character.char_race.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_race.ability_score_2 == 'Charisma' %}
                                        +{{ character.char_race.ability_score_2_bonus }}
                                    {% endif %}</td>
                                <td>{% if character.char_subrace.ability_score_1 == 'Charisma' %}
                                        +{{ character.char_subrace.ability_score_1_bonus }}
                                    {% endif %}
                                    {% if character.char_subrace.ability_score_2 == 'Charisma' %}
                                        +{{ character.char_subrace.ability_score_2_bonus }}
                                    {% endif %}</td>
                            </tr>


                        </table>
                    </section>
                    <section class="panel-body col-md-2">
                        <table style="width: 100%;" id="point_buy">
                            <tr>
                                <th colspan="2">Ability Costs</th>
                                <th>Points Left</th>
                            </tr>

                            <tr>
                                <th>Score</th>
                                <th>Cost</th>
                                <th id="points_left">27</th>
                            </tr>

                            <tr>
                                <td><div class="score" data-score="8" data-buy="8" data-cost="0">8</div></td>
                                <td>0</td>
                            </tr>

                            <tr>
                                <td><div class="score" data-score="9" data-buy="9" data-cost="1">9</div></td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td><div class="score" data-score="10" data-buy="10" data-cost="2">10</div></td>
                                <td>2</td>
                            </tr>

                            <tr>
                                <td><div class="score" data-score="11" data-buy="11" data-cost="3">11</div></td>
                                <td>3</td>
                            </tr>

                            <tr>
                                <td><div class="score" data-score="12" data-buy="12" data-cost="4">12</div></td>
                                <td>4</td>
                            </tr>

                            <tr>
                                <td><div class="score" data-score="13" data-buy="13" data-cost="5">13</div></td>
                                <td>5</td>
                            </tr>

                            <tr>
                                <td><div class="score" data-score="14" data-buy="14" data-cost="7">14</div></td>
                                <td>7</td>
                            </tr>

                            <tr>
                                <td><div class="score" data-score="15" data-buy="15" data-cost="9">15</div></td>
                                <td>9</td>
                            </tr>
                        </table>
                    </section>
                    <button id="choice_next" class="btn btn-primary">Next</button>
                </form>
            </section>
        </section>

    </section>


{% endblock %}

{% block extra_scripts %}

    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous">
    </script>

    <script src="{% static 'pages/js/as_choice.js' %}"></script>
{% endblock %}



{#<main class="col-md-8">#}
{#        <section id="tabs">#}
{#            <ul>#}
{#                <li><a href="#tabs-1">Choice</a></li>#}
{#                <li><a href="#tabs-2">Roll</a></li>#}
{#                <li><a href="#tabs-3">Buy</a></li>#}
{#            </ul>#}
{##}
{#            <section id="#tabs-1">#}
{#                <p>ONE</p>#}
{#                <section id="containment-wrapper">#}
{#                        <div class="col-md-6">#}
{#                                <div>Strength:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Dexterity:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Constitution:</div>#}
{#                                <input class="hidden" id="CON">#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Intelligence:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Wisdom:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Charisma:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{#                        </div>#}
{#                        <div class="col-md-2">#}
{#                            <div class="container-fluid">#}
{#                                <div class="score" data-score="15">15</div>#}
{#                                <div class="score" data-score="14">14</div>#}
{#                                <div class="score" data-score="13">13</div>#}
{#                                <div class="score" data-score="12">12</div>#}
{#                                <div class="score" data-score="10">10</div>#}
{#                                <div class="score" data-score="8">8</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </section>#}
{#                <button type="submit" class="btn btn-primary">Next!</button>#}
{#            </section>#}
{##}
{#            <section id="#tabs-2">#}
{#                <p>TWO</p>#}
{#                <section id="containment-wrapper">#}
{#                        <div class="col-md-6">#}
{#                                <div>TWo:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Dexterity:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Constitution:</div>#}
{#                                <input class="hidden" id="CON">#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Intelligence:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Wisdom:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Charisma:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{#                        </div>#}
{#                        <div class="col-md-2">#}
{#                            <div class="container-fluid">#}
{#                                <div class="score" data-score="15">15</div>#}
{#                                <div class="score" data-score="14">14</div>#}
{#                                <div class="score" data-score="13">13</div>#}
{#                                <div class="score" data-score="12">12</div>#}
{#                                <div class="score" data-score="10">10</div>#}
{#                                <div class="score" data-score="8">8</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </section>#}
{#                <button type="submit" class="btn btn-primary">Next!</button>#}
{#            </section>#}
{##}
{#            <section id="#tabs-3">#}
{#                <p>THREE</p>#}
{#                <section id="containment-wrapper">#}
{#                        <div class="col-md-6">#}
{#                                <div>Three:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Dexterity:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Constitution:</div>#}
{#                                <input class="hidden" id="CON">#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Intelligence:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Wisdom:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{##}
{#                                <div>Charisma:</div>#}
{#                                <div class="droppable" data-score=""></div>#}
{#                        </div>#}
{#                        <div class="col-md-2">#}
{#                            <div class="container-fluid">#}
{#                                <div class="score" data-score="15">15</div>#}
{#                                <div class="score" data-score="14">14</div>#}
{#                                <div class="score" data-score="13">13</div>#}
{#                                <div class="score" data-score="12">12</div>#}
{#                                <div class="score" data-score="10">10</div>#}
{#                                <div class="score" data-score="8">8</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </section>#}
{#                <button type="submit" class="btn btn-primary">Next!</button>#}
{#            </section>#}
{#        </section>#}
{##}
{##}
{#    </main>#}