{% extends 'characters/base_creation.html' %}
{% load static %}

{% block main %}
    <section class="panel panel-default">
        <section class="panel-body">
            <section class="col-md-6">
                <form action="" method="POST">{% csrf_token %}
                    {{ form.errors }}
                    <p>Background: {{ form.background }}</p>
                    <button type="submit" class="btn btn-primary">Next!</button>
                </form>
            </section>
            <section class="col-md-6">
                <section class="panel panel-default">
                    <section class="panel-body">
                        <p>Name: <span id="name"></span></p>
                        <p>Starting Gold: <span id="gold"></span></p>
                        <hr>
                        <p>Description:</p>
                        <p id="description"></p>
                        <hr>
                        <p>Special: <span id="special"></span></p>
                        <p>Features:</p>
                        <ul id="features">

                        </ul>

                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'pages/js/nc_background.js' %}"></script>
{% endblock %}