{% extends 'characters/base_creation.html' %}
{% load static %}

{% block main %}
    <section class="panel panel-default">
        <section class="panel-body">
            <section class="col-md-4">
                <form action="" method="POST" autocomplete="off">{% csrf_token %}
                    {{ class_form.errors }}
                    <p>Class: {{ class_form.klass }}</p>
                    <p id="cleric">Prestige Class: {{ class_form.cleric_prestige }}</p>
                    <p id="sorcerer">Prestige Class: {{ class_form.sorcerer_prestige }}</p>
                    <p id="warlock">Prestige Class: {{ class_form.warlock_prestige }}</p>
                    <p> Hit Points: {{ class_form.hp }}</p>
                    <button type="submit" class="btn btn-primary">Next!</button>
                </form>
            </section>
            <section class="col-md-8">
                <section class="panel panel-default">
                    <section class="panel-body">
                        <p>Name: <span id="class_name"></span></p>
                        <hr>
                        <p>Features:</p>
                        <ul id="class_features">

                        </ul>
                    </section>
                </section>
                <section class="panel panel-default">
                    <section class="panel-body">
                        <p>Name: <span id="prestige_name"></span></p>
                        <hr>
                        <p>Features:</p>
                        <ul id="prestige_features">

                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'pages/js/nc_class.js' %}"></script>
{% endblock %}