{% extends 'characters/base_creation.html' %}
{% load static %}

{% block main %}
    <section class="panel panel-default">
        <section class="panel-body">
            <section class="col-md-4">
                <form action="" method="POST">{% csrf_token %}
                    {{ race_form.errors }}
                    <p>Race: {{ race_form.race }}</p>
                    <p>Subrace: {{ race_form.subrace }}</p>
                    <button type="submit" class="btn btn-primary">Next!</button>
                </form>
            </section>
            <section class="col-md-8">
                <section class="panel panel-default">
                    <section class="panel-body">
                        <p>Name: <span id="race_name"></span></p>
                        <hr>
                        <p>Increased Abilities:</p>
                        <ul id="race_abilities">

                        </ul>
                        <hr>
                        <p>Features:</p>
                        <ul id="race_features">

                        </ul>
                    </section>
                </section>
                <section class="panel panel-default">
                    <section class="panel-body">
                        <p>Name: <span id="subrace_name"></span></p>
                        <hr>
                        <p>Increased Abilities:</p>
                        <div id="subrace_abilities">

                        </div>
                        <hr>
                        <p>Features:</p>
                        <ul id="subrace_features">

                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'pages/js/nc_race.js' %}"></script>
{% endblock %}