{% load static %}
{% load character_tags %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta author="Alexander B Warnes">

        <link rel="stylesheet" type="text/css" href="{% static 'pages/css/nc_resolve.css' %}"
        <link rel="icon" type="image/jpg" href="{% static 'pages/img/logo_favicon.jpg' %}">

        {% include 'includes/jquery.html' %}

        <title>
        Character Sheet
        </title>

        {% include 'includes/bootstrap.html' %}

    </head>

    <body>
    {% include 'includes/header.html' %}
        <main>
            <section class="sortable" id="top-section">
                <div class="panel panel-default" id="name_box">
                    <div class="panel-body">
                        <p>Character Name: {{ character.char_name }}</p>
                        <p>Username: {{ character.username }}</p>
                    </div>
                </div>

                <div class="panel panel-default" id="base_info_box">
                    <div class="panel-body">
                        <p>Character Level: {{ character.get_char_level }}</p>
                        <p>Class and Level: {% for class in class_level.all %} {{ class.char_class }} ({{ class.class_level }}) {% endfor %}</p>
                        <p>Background: {{ character.char_background }}</p>
                        <p>Race and Subrace: {{ character.char_race }} ({{ character.char_subrace }})</p>
                        <p>Alignment: {{ character.alignment }}</p>
                        <p>Experience Points: {{ character.char_xp }}</p>
                    </div>
                </div>
            </section> <!-- end top-section -->

            <section class="sortable" id="bottom-section">

                <section class="sortable" id="bottom-left">
                    <section class="sortable" id="left-left">
                        <div class="panel panel-default" id="ability_scores" style="padding-top: 15px;">
                            <div class="panel panel-default">
                                <div class="panel-title text-center">
                                    Strength
                                </div>
                                <div class="panel-body text-center">
                                    <strong>{{ character.STR_score }}</strong>
                                </div>
                                <div class="panel-footer text-center">
                                    <strong>{% if character.STR_score >= 10 %}+{% endif %}{% ab_bonus character 'STR' %}</strong>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-title text-center">
                                    Dexterity
                                </div>
                                <div class="panel-body text-center">
                                    <strong>{{ character.DEX_score }}</strong>
                                </div>
                                <div class="panel-footer text-center">
                                    <strong>{% if character.DEX_score >= 10 %}+{% endif %}{% ab_bonus character 'DEX' %}</strong>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-title text-center">
                                    Constitution
                                </div>
                                <div class="panel-body text-center">
                                    <strong>{{ character.CON_score }}</strong>
                                </div>
                                <div class="panel-footer text-center">
                                    <strong>{% if character.CON_score >= 10 %}+{% endif %}{% ab_bonus character 'CON' %}</strong>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-title text-center">
                                    Intelligence
                                </div>
                                <div class="panel-body text-center">
                                    <strong>{{ character.INT_score }}</strong>
                                </div>
                                <div class="panel-footer text-center">
                                    <strong>{% if character.INT_score >= 10 %}+{% endif %}{% ab_bonus character 'INT' %}</strong>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-title text-center">
                                    Wisdom
                                </div>
                                <div class="panel-body text-center">
                                    <strong>{{ character.WIS_score }}</strong>
                                </div>
                                <div class="panel-footer text-center">
                                    <strong>{% if character.WIS_score >= 10 %}+{% endif %}{% ab_bonus character 'WIS' %}</strong>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-title text-center">
                                    Charisma
                                </div>
                                <div class="panel-body text-center">
                                    <strong>{{ character.CHA_score }}</strong>
                                </div>
                                <div class="panel-footer text-center">
                                    <strong>{% if character.CHA_score >= 10 %}+{% endif %}{% ab_bonus character 'CHA' %}</strong>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="sortable" id="left-right">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Inspiration Points: {{ character.inspiration }}</p>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Proficiency Bonus: {{ character.get_prof_bonus }}</p>
                            </div>
                        </div>

                        <div class="panel panel-default" id="saving_throws">
                            <div class="panel-body">
                                <p>Saving Throws:</p>

                                <p>{% if character.STR_saving_throw %}
                                    <input type="radio" checked disabled>
                                    +{% saving_throw_bonus character 'STR' %}
                                {% else %}
                                    <input type="radio" disabled>
                                    {% ab_bonus character 'STR' as STR %}
                                    <u>{% if STR >= 0 %}+{% endif %}{{ STR }}{% endif %}</u> Strength</p>

                                <p>{% if character.DEX_saving_throw %}
                                    <input type="radio" checked disabled>
                                    +{% saving_throw_bonus character 'DEX' %}
                                {% else %}
                                    <input type="radio" disabled>
                                    {% ab_bonus character 'DEX' as DEX %}
                                    <u>{% if DEX >= 0 %}+{% endif %}{{ DEX }}{% endif %}</u> Dexterity</p>

                                <p>{% if character.CON_saving_throw %}
                                    <input type="radio" checked disabled>
                                    +{% saving_throw_bonus character 'CON' %}
                                {% else %}
                                    <input type="radio" disabled>
                                    {% ab_bonus character 'CON' as CON %}
                                    <u>{% if CON >= 0 %}+{% endif %}{{ CON }}{% endif %}</u> Constitution</p>

                                <p>{% if character.INT_saving_throw %}
                                    <input type="radio" checked disabled>
                                    +{% saving_throw_bonus character 'INT' %}
                                {% else %}
                                    <input type="radio" disabled>
                                    {% ab_bonus character 'INT' as INT %}
                                    <u>{% if INT >= 0 %}+{% endif %}{{ INT }}{% endif %}</u> Intelligence</p>

                                <p>{% if character.WIS_saving_throw %}
                                    <input type="radio" checked disabled>
                                    +{% saving_throw_bonus character 'WIS' %}
                                {% else %}
                                    <input type="radio" disabled>
                                    {% ab_bonus character 'WIS' as WIS %}
                                    <u>{% if WIS >= 0 %}+{% endif %}{{ WIS }}{% endif %}</u> Wisdom</p>

                                <p>{% if character.CHA_saving_throw %}
                                    <input type="radio" checked disabled>
                                    +{% saving_throw_bonus character 'CHA' %}
                                {% else %}
                                    <input type="radio" disabled>
                                    {% ab_bonus character 'CHA' as CHA %}
                                    <u>{% if CHA >= 0 %}+{% endif %}{{ CHA }}{% endif %}</u> Charisma</p>
                            </div>
                        </div>

                        <div class="panel panel-default" id="skills">
                            <div class="panel-body">
                                <p>Skills:</p>
                                <p>Acrobatics:</p>
                                <p>Animal Handling:</p>
                                <p>Arcana:</p>
                                <p>Athletics:</p>
                                <p>Deception:</p>
                                <p>History:</p>
                                <p>Insight:</p>
                                <p>Intimidation:</p>
                                <p>Investigation:</p>
                                <p>Medicine:</p>
                                <p>Nature:</p>
                                <p>Perception:</p>
                                <p>Performance:</p>
                                <p>Persuasion:</p>
                                <p>Religion:</p>
                                <p>Sleight of Hand:</p>
                                <p>Stealth:</p>
                                <p>Survival:</p>
                            </div>
                        </div>

                    </section>
                    <section class="sortable" id="left-bottom">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Passive Wisdom (Perception): {% passive_bonus character "WIS" %}</p>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Languages and Other Proficiencies:</p>
                            </div>
                        </div>
                    </section>
                </section> <!-- end bottom-left -->

                <section class="sortable" id="bottom-middle">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <section class="col-xs-4">
                                <p>Armor Class: {{ character.get_armor_class }}</p>
                            </section>
                            <section class="col-xs-4">
                                <p>Initiative: +{{ character.get_initiative_bonus }}</p>
                            </section>
                            <section class="col-xs-4">
                                <p>Speed {{ character.char_race.speed }}</p>
                            </section>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Hit Point Maximum: {{ character.max_health }}</p>
                            <p>Current Hit Points: {{ character.current_health }}</p>
                        </div>
                        <div class="panel-body">
                            <p>Temporary Hit Points: {{ character.temp_addtl_hp }}</p>

                            <section class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Hit Dice: {% for class in class_level.all %} 1d{{ class.char_class.hit_die_size }}{% endfor %}</p>
                                </div>
                            </div>
                            </section>
                            <section class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <p>Death Saves:</p>
                                        <p></p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Attacks and Spells</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p class="search_type" data-type="armors">Armor and Gold</p>
                            {% for armor in character.armor_inv.all %}
                            <li class="list-group-item search_query" data-type="armors" data-slug="{{ armor.slug }}">{{ armor.name }}</li>
                            {% endfor %}
                        </div>
                    </div>
                </section> <!-- end bottom-middle -->

                <section class="sortable" id="bottom-right">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Personality Traits</p>
                            <p>{{ character.personality }}</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Ideals</p>
                            <p>{{ character.ideals }}</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Bonds</p>
                            <p>{{ character.bonds }}</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Flaws:</p>
                            <p>{{ character.flaws }}</p>
                        </div>
                    </div>

                    <div class="panel panel-default" id="features">
                        <div class="panel-body">
                            <p>Features:</p>
                            <hr>
                            <p class="search_type" data-type="race">Race:</p>
                            <ul>
                                {% for feature in character.char_race.features.all %}
                                    <li class="list-group-item search_query" data-search_type="race" data-type="features"data-slug="{{ feature.slug }}">{{ feature }}</li>
                                {% endfor %}
                            </ul>
                            <hr>
                            {% if character.char_subrace %}
                                <p class="search_type" data-type="subrace">Sub Race:</p>
                                {% for feature in character.char_subrace.features.all %}
                                    <li class="list-group-item search_query" data-search_type="subrace" data-type="features" data-slug="{{ feature.slug }}">{{ feature }}</li>
                                {% endfor %}
                            {% endif %}
                            <hr>
                            <p>Class:</p>
                            {% get_class_features character as features_dict %}
                            {% for class, features in features_dict.items %}
                                <p class="search_type" data-type="classes">{{ class }}</p>
                                <ul>
                                    {% for feature in features %}
                                        <li class="list-group-item search_query" data-search_type="classes" data-type="features" data-slug="{{ feature.slug }}">({{ feature.prereq_class_level }}) {{ feature }}</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                            <hr>
                            {% prestige_check character as p %}
                            {% if p %}
                                <p>Prestige Class:</p>
                                {% get_prestige_features character as features_dict %}
                                {% for prestige, features in features_dict.items %}
                                    <p class="search_type" data-type="prestige">{{ prestige }}</p>
                                    <ul>
                                        {% for feature in features %}
                                            <li class="list-group-item search_query" data-search_type="prestige" data-type="features" data-slug="{{ feature.slug }}">({{ feature.prereq_class_level }}) {{ feature }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </section> <!-- end bottom-right -->
            </section> <!-- end bottom-section -->

            <section id="buttons">
                <form action="" method="POST">{% csrf_token %}
                    <button id="accept" type="submit" class="btn btn-primary">Accept Character</button>
                    <button id="delete" type="button" class="btn btn-danger">Delete Character</button>
                </form>
            </section>
        </main>

    {% include 'includes/footer.html' %}

        <div class="modal fade" id="delete_check">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Are you sure you want to delete this character?</h1>
                    </div>
                    <div class="modal-footer">
                        <form action="" method="POST">{% csrf_token %}
                            <p hidden="true">{{ form.next_page }}</p>
                            <button type="submit" class="btn btn-danger" id="delete_yes">Delete</button>
                            <button type="button" class="btn btn-primary" id="delete_no">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="output">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" data-slug='' data-type='' id="name"></h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Description:</p>
                        <p id="description"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="open_details">Open</button>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous">
    </script>

    <script src="{% static 'pages/js/nc_resolve.js' %}"></script>

</html>