.droppable {
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

.score {
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px dotted black;
}

.score_table, .score_table td, .score_table th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#point_buy, #point_buy td, #point_buy th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#point_buy {
    margin: 100px;
}