.navbar-collapse.collapse {
    display: flex !important;
    justify-content: space-between;

}

.nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after{
    content: normal !important;
}

/*#search_bar {*/
    /*float: right !important;*/
/*}*/