body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#header {
    order: 0;
    width: 100%;
    text-align: center;
}

#form {
    order: 1;
    width: 100%;
    text-align: center;
}

#list {
    order: 2;
    width: 50%;
    height: 10000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.list_item {
    border-style: outset;
    background-color: cornflowerblue;
    width: 30%;
}

#output {
    position: fixed;

    width: 50%;
}