{% extends 'database_view/detail_base.html' %}
{% load static %}

{% block detail_header %}
    <h1>{{ result.name }}</h1>
{% endblock %}

{% block detail_body %}
    <p>Weight: {{ result.weight }}</p>
    <section class="container" id="feature_container">
        Cost:
        <section id="features">
            Copper: {{ result.cost_copper }}<br>
            Silver: {{ result.cost_silver }}<br>
            Gold: {{ result.cost_gold }}<br>
            Platinum: {{ result.cost_platinum }}<br>
        </section>
    </section>
    <p></p>
    <p>Special: {{ result.special }}</p>
    <hr>
    <p>Description: {{ result.description }}</p>
{% endblock %}

{% block detail_footer %}
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'pages/js/details.js' %}"></script>
{% endblock %}