{% extends 'database_view/detail_base.html' %}

{% block detail_header %}
    <h3>{{ result.name }}</h3>
    <h4><em>{{ result.level }} {{ result.school }}</em></h4>
{% endblock %}

{% block detail_body %}
    <p>Cast Time: {{ result.cast_time }}</p>
    <p>Range: {{ result.distance }}</p>
    <p>Duration: {{ result.duration }}</p>
    <p>Components: {{ result.raw_materials }}</p>
    {% if con %}
        <p>Requires Concentration?: Yes</p>
    {% endif %}
    {% if rit %}
        <p>Ritual Spell?: Yes</p>
    {% endif %}
    <hr>
    <p>{{ result.description }}</p>
{% endblock %}

{% block detail_footer %}
    <p>Available Classes: {% for class in classes %}<a href="/classes/details/{{ class.lower }}">{{ class }}, </a>{% endfor %}</p>
{% endblock %}


<div class="modal fade" id="output">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" data-slug='' data-type='' id="name"></h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Description:</p>
                <p id="description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="open_details">Open</button>
            </div>
        </div>
    </div>
</div>