{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta author="Alexander B Warnes">

        <link rel="icon" type="image/jpg" href="{% static '/pages/img/logo_favicon.jpg' %}">

        {% block css %}
        {% endblock %}

        {% include 'includes/jquery.html' %}

        <title>
        {% block title %}
            Default
        {% endblock %}
        </title>

    {% include 'includes/bootstrap.html' %}

    </head>

    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block header %}
            {% include 'includes/header.html' %}
        {% endblock %}

        {% block main %}
            <div>Default information</div>
        {% endblock %}

        {% block footer %}
            {% include 'includes/footer.html' %}
        {% endblock %}

    </body>
    {% block extra_scripts %}
    {% endblock %}
</html>