{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta author="Alexander B Warnes">

        <link rel="icon" type="image/jpg" href="{% static '/pages/img/logo_favicon.jpg' %}">

        {% block css %}
        {% endblock %}

        {% include 'includes/jquery.html' %}

        <title>
        {% block title %}
            Default
        {% endblock %}
        </title>

    {% include 'includes/bootstrap.html' %}

    </head>

    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block header %}
            {% include 'includes/header.html' %}
        {% endblock %}
        <main class="col-md-12">
            <section class="col-md-4 hidden-sm hidden-xs">
                {% include 'includes/recent_news.html' %}
            </section>
            <section class="col-md-8 col-xs-12">
                {% block main %}
                    <div>Default information</div>
                {% endblock %}
            </section>
        </main>

        {% block footer %}
            {% include 'includes/footer.html' %}
        {% endblock %}

    </body>
    {% block extra_scripts %}
    {% endblock %}
</html>