{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'pages/css/spellbook.css' %}">
{% endblock %}

{% block js %}

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>

{% endblock %}

{% block title %}

    <title>Spell Book</title>

{% endblock %}

{% block main %}

    <section id="form">
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.errors }}

            {{ form.as_p }}

            <button>Search!</button>

        </form>
    </section>

    <section id="list">
        <ul>

        {% for spell in spells %}
            <li>{{ spell }}</li>
        {% endfor %}

        </ul>
    </section>

    <section id="output">

    </section>

{% endblock %}
{% block extra_scripts %}

<script type="text/javascript" src="{% static 'pages/js/spellbook.js' %}"></script>

{% endblock %}