{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'pages/css/spellbook.css' %}">
{% endblock %}

{% block js %}

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>

{% endblock %}

{% block title %}

    <title>Spell Book</title>

{% endblock %}

{% block header %}
    <h1 id="header">Spell Book</h1>
{% endblock %}


{% block main %}

    <section id="form">
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.errors }}

            {{ form.as_p }}

            <button>Search!</button>

        </form>
    </section>

    <section id="list">
        <ul>

        {% for spell in spells %}
            <li class="list_item">{{ spell }}</li>
        {% endfor %}

        </ul>
    </section>

    <section id="output">
        <h1 id="name"></h1>
        <p>Level: <span id="level"></span></p>
        <p>School: <span id="school"></span></p>
        <hr>
        <p>Casting Time: <span id="cast_time"></span></p>
        <p>Range: <span id="distance"></span></p>
        <p>Components: <span id="components"></span></p>
        <p>Duration: <span id="duration"></span></p>
        <p>Requires Concentration? <span id="concentration"></span></p>
        <p>Can cast as a ritual? <span id="ritual"></span></p>
        <hr>
        <p>Description: <span id="description"></span></p>
        <hr>
        <p>Classes: <span id="available_to"></span></p>
    </section>

{% endblock %}
{% block extra_scripts %}

<script type="text/javascript" src="{% static 'pages/js/spellbook.js' %}"></script>

{% endblock %}

{% block footer %}
{% endblock %}