{% extends 'base.html' %}
{% load static %}

{#{% block css %}#}
{#    <link type="text/css" rel="stylesheet" href="{% static 'pages/css/spellbook.css' %}">#}
{#{% endblock %}#}

{% block js %}

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>

{% endblock %}

{% block title %}

    <title>Spell Book</title>

{% endblock %}

{% block header %}
    <header class="row">
        <div class="col-md-4">
            <img src="{% static 'pages/img/logo_small.jpg' %}">
        </div>

        <div class="col-md-6">
            <h1>Spell Book</h1>
        </div>
    </header>
{% endblock %}


{% block main %}
    <main class="row">

        <section class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form.errors }}

                    {{ form.as_p }}

                    <button>Search!</button>
                </form>
            </div>
        </section>

        <section class="row space-between" id="list">

            <div class="col-md-3">
                <ul class="list-group">
                    {% for spell in spells1 %}
                        <li class="list-group-item text-center">{{ spell }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3">

                    <ul class="list-group">
                        {% for spell in spells2 %}
                            <li class="list-group-item text-center">{{ spell }}</li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="col-md-3">

                    <ul class="list-group">
                        {% for spell in spells3 %}
                            <li class="list-group-item text-center">{{ spell }}</li>
                        {% endfor %}
                    </ul>
            </div>
        </section>

        <div class="modal fade" id="output">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="name"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Level: <span id="level"></span></p>
                        <p>School: <span id="school"></span></p>
                        <hr>
                        <p>Casting Time: <span id="cast_time"></span></p>
                        <p>Range: <span id="distance"></span></p>
                        <p>Components: <span id="components"></span></p>
                        <p>Duration: <span id="duration"></span></p>
                        <p>Requires Concentration? <span id="concentration"></span></p>
                        <p>Can cast as a ritual? <span id="ritual"></span></p>
                        <hr>
                        <p>Description:</p>
                        <p id="description"></p>
                    </div>
                    <div class="modal-footer">
                    <p>Classes: <span id="available_to"></span></p>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% endblock %}
    {% block extra_scripts %}

<script type="text/javascript" src="{% static 'pages/js/spellbook.js' %}"></script>

{% endblock %}

{% block footer %}
{% endblock %}