{% extends 'base.html' %}

{% block title %}5th Edition CSM{% endblock %}



{% block main %}
    <main>
        <section class="text-center">
            <h1>Character Sheet Manager</h1>
        </section>

        <section>
            <form action="" method="POST" class="text-center">
                {% csrf_token %}

                {{ form.as_p }}
                <br>
                <button>Log In!</button>
                <hr>
                <p><a href="">Forgot Password</a> | <a href="">Forgot Username</a></p>
            </form>
        </section>


    </main>
{% endblock %}
