{% extends 'base.html' %}
{% load static %}

{% block title %}Profile for {{ user.username }}{% endblock %}



        {% block main %}
            <section class="panel panel-default">
                <div class="panel-title">
                    <h1>Recent Characters</h1>
                </div>
                <p hidden="true" id="username">{{ user.username }}</p>
                <div class="panel-body">
                    <ul id="characters">
                        <!--Characters Populate Here-->
                    </ul>
                </div>
            </section>

            <button><a href="{% url 'logout' %}">Logout!</a></button>


            <div class="modal fade" id="output">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="name"></h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Level: <span id="level"></span></p>
                            <p>Class: {{ character.char_classes.get }}<span id="class"></span></p>
                            <p>Race: {{ character.char_race }}</p>
{#                            <span id="race"></span>#}
                            <hr>
                            <p>Strength: <span id="STR"></span></p>
                            <p>Dexterity: <span id="DEX"></span></p>
                            <p>Constitution: <span id="CON"></span></p>
                            <p>Intelligence: <span id="INT"></span></p>
                            <p>Wisdom: <span id="WIS"></span></p>
                            <p>Charisma: <span id="CHA"></span></p>
                            <hr>
                            <p>Description:</p>
                            <p id="description"></p>
                        </div>
                        <div class="modal-footer">
                            <p class="pull-left">Features: <br>{% for feature in character.char_classes.get.features.all %}{{ feature }}, {% endfor %}</p>
{#                            <span id="features"></span>#}
                            <button type="submit" class="btn btn-primary pull-right" id="go">Go!</button>
                        </div>
                    </div>
                </div>
            </div>



        {% endblock %}

        {% block footer %}
            {% include 'includes/footer.html' %}
        {% endblock %}



    {% block extra_scripts %}
        <script type="text/javascript" src="{% static 'character/js/user_home.js' %}"></script>
    {% endblock %}

