{% extends 'base.html' %}

{% block title %}{{ result.name }}{% endblock %}

{% block main %}

    <section class="panel panel-default">
        <div class="panel-heading">
            {% block detail_header %}
            <p>header</p>
            {% endblock %}
        </div>
        <div class="panel-body">
            {% block detail_body %}
            <p>body</p>
            {% endblock %}
        </div>
        <div class="panel-footer">
            {% block detail_footer %}
            <p>footer</p>
            {% endblock %}
        </div>
    </section>

    {% block modal %}
        <p></p>
    {% endblock %}
{% endblock %}