{% extends 'base.html' %}
{% load static %}

{% block title %}Search the Database!{% endblock %}

{% block main %}

    <main>
        <h1>Results for <em>{{ query }}</em> ({{ total }}):</h1>

        <section>
        <ul>
            {% for term, result in results.items %}
            <li class="list-group-item search_type" data-type='{{ term }}'>{{ term }}</li>
                {% for item in result %}
                    <li class="list-group-item text-center search_query" data-type='{{ term }}' data-slug="{{ item.slug }}">{{ item.name }}</li>
                {% endfor %}
                {% empty %}
                        <li class="list-group-item text-center">Sorry! I couldn't find anything called <em>{{ query }}</em>!</li>

            {% endfor %}
        </ul>
        </section>
    </main>

    <div class="modal fade" id="output">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" data-slug='' data-type='' id="name"></h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Description:</p>
                        <p id="description"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="open_details">Open</button>
                    </div>
                </div>
            </div>
        </div>

    <script type="text/javascript" src="{% static 'pages/js/search_home.js' %}"></script>

{% endblock %}

