{% load static %}

<link type="text/css" rel="stylesheet" href='{% static "pages/css/header.css" %}'>

<nav class="navbar navbar-static-top navbar-default nav-justified text-center">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'landing' %}"><img src='{% static "pages/img/logo_favicon.jpg" %}'></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <div class="nav-divider menu_options">
                <ul class="nav navbar-nav">
                    <li id="first-link"></li>
                    <li id="second-link"></li>
                    <li class="dropdown hidden" id="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Stuff <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'nc_new' %}">New Character</a></li>
{#                            <li><a href="#">Another action</a></li>#}
{#                            <li><a href="#">Something else here</a></li>#}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="#">Separated link</a></li>#}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="nav-divider title_text">
                <div class="navbar-text">
                    <p><strong id="title"></strong></p>
                </div>
            </div>

            <div class="nav-divider search_form">
                <form class="navbar-form navbar-right" action="{% url 'search_home' %}" method="POST" id="search_bar">
                    {% csrf_token %}
                    <div class="form-group">
                    <input type="text" class="form-control" name='query' placeholder="Search the Database!">
                    </div>
                    <button type="submit" class="btn btn-default" >Submit</button>
                </form>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">

    $('#title').text($('title').text());

    var $first = $('#first-link');
    var $second = $('#second-link');
    var $drop = $('#dropdown');

    {% if user.is_authenticated %}
        $first.html('<a href="{% url 'home' %}">Your Profile<span class="sr-only">(current)</span></a>');
        $second.html('<a href="{% url 'nc_new' %}">New Character</a>');
        $drop.toggleClass('hidden');

    {% else %}
        $first.html('<a href="{% url 'login' %}">Log In<span class="sr-only">(current)</span></a>');
        $second.html('<a href="{% url 'register' %}">Register</a>');
    {% endif %}

    $first.hover(function(){
        $(this).toggleClass('active');
    })

    $second.hover(function(){
        $(this).toggleClass('active');
    })

    $drop.hover(function(){
            $(this).toggleClass('active');
        })

</script>