{% load static %}

{#<header class="row">#}
{#    <div class="col-md-4">#}
{#        <img src="{% static 'pages/img/logo_medium_small.jpg' %}">#}
{#    </div>#}
{##}
{#    <div class="col-md-6">#}
{#        <h1 id="title"></h1>#}
{#    </div>#}
{#</header>#}



<nav class="navbar navbar-static-top navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'landing' %}"><img src='{% static "pages/img/logo_favicon.jpg" %}'></a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active" id="first-link"></li>
                <li id="second-link"></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
                </li>
            </ul>

            <div class="navbar-text-center">
                <p class="navbar-text"><strong id="title"></strong></p>
            </div>

            <form class="navbar-form navbar-right">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">

    $('#title').text($('title').text());

    var $first = $('#first-link');
    var $second = $('#second-link');

    {% if user.is_authenticated %}
        $first.html('<a href="{% url 'home' %}">Your Profile<span class="sr-only">(current)</span></a>');
        $second.html('<a href="#">Your Characters</a>');

    {% else %}
        $first.html('<a href="{% url 'login' %}">Log In<span class="sr-only">(current)</span></a>');
        $second.html('<a href="{% url 'register' %}">Register</a>');
    {% endif %}



</script>