{% load static %}

<main class="panel panel-default">
    <section class="panel-heading">
      <h3>Recent News:</h3>
    </section>
    <section class="panel-body">
        <ul style="font-size: 18pt;">
            <li>Version 1 Published: No Public Allowed!</li>
            <li>Check out the Repo!: <a href="https://github.com/awarnes/5E-Character">5E CSM</a></li>
            <li>This dwarf found the <a href="https://s-media-cache-ak0.pinimg.com/236x/63/e5/a5/63e5a5c41ef423177f9203b416f17a4f.jpg">secret</a> to beard growth. Barbers hate him!</li>
            <li>When Dragons Attack: <a href="https://www.youtube.com/watch?v=O6nzmO312iI">LIVE</a>!</li>
        </ul>
    </section>
</main>
