{% load static %}

<main class="panel panel-default">
    <section class="panel-heading">
      <h3>Future Goals:</h3>
    </section>
    <section class="panel-body">
        <ul>
            <li>Dice roller for Spells and Actions</li>
            <li>Shop to buy additional gear</li>
            <li>Level up by Experience Points</li>
            <li>Support for Multi-Classing</li>
            <li>Rearrange and save character sheets</li>
            <li>A separate screen for preparing spells</li>
        </ul>
    </section>
</main>
